@import "tailwindcss";

@font-face {
    font-family: 'Comic';
    src: url("/comicsans/comic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
  --animate-wavy: wavy 5s ease-in-out infinite;

  @keyframes wavy {
    0% {
      top: 0px;
    }

    50% {
      top: 15px;
    }

    100% {
      top: 0px;
    }
  }
}

body {
  @apply bg-white dark:bg-neutral-950;
  @apply text-black dark:text-neutral-200;
}

@layer base {
    h1 { @apply text-4xl font-bold tracking-tight; }
    h2 { @apply text-3xl font-bold; }
    h3 { @apply text-2xl font-semibold; }
}

* {
  font-family: "Comic";
}

