@import "tailwindcss";

@theme {
  --animate-wavy: wavy 5s ease-in-out infinite;

  @keyframes wavy {
    0% {
      top: 0px;
    }

    50% {
      top: 15px;
    }

    100% {
      top: 0px;
    }
  }
}

body {
  @apply bg-white dark:bg-neutral-950;
  @apply text-black dark:text-neutral-200;
  @apply font-mono;
}

font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
