/* this is some old css that i used in some of my projects, i'm keeping it here so those projects don't break :) */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --bg-color: rgb(35, 39, 42);
  --fg-color: rgb(44, 47, 51);
  --main-color: rgb(88 101 242);
}

body {
  font-family: "Jetbrains Mono";
  background-color: var(--bg-color);
  color: white;
  padding: 0;
  margin: 0;
}

#clients {
  display: contents;
}
.footer {
  position: fixed;
  bottom: 30px;
  width: 100%;
  align-items: center;
}

.calldiv {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: var(--fg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#calldivheader {
  cursor: move;
  z-index: 10;
  background-color: rgb(73, 77, 82);
  color: #fff;
}

button {
  background-color: var(--main-color);
  color: white;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: larger;
  border-radius: 2px;
  border: none;
  transition: 0.1s;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(68 81 222);
}

input {
  font-size: larger;
  font-family: "JetBrains Mono";
  font-weight: bold;
}

select {
  font-family: "JetBrains Mono";
}

p {
  font-size: larger;
}

.bigLabel {
  font-size: 128px;
  margin: 0;
}

a {
  color: var(--main-color);
}

textarea {
  font-family: "JetBrains Mono";
}
code {
  background-color: var(--fg-color);
  padding: 5px;
}
